body {
  font-family: Arial;
  background: #f2f6fc;
  margin: 0;
}

.container {
  width: 420px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  color: #0b5ed7;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  margin-bottom: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  background: #0b5ed7;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

button:hover {
  background: #094db1;
}

.card {
  width: 420px;
  margin: 60px auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.status {
  font-size: 18px;
  color: green;
  font-weight: bold;
  margin-top: 15px;
}

.link-btn {
  display: block;
  text-align: center;
  background: #198754;
  padding: 12px;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  margin-top: 15px;
}
